Setting multiple cookies does not work

**Describe the bug**
When multiple Set-Cookie Headers are defined for a response, only the last defined is send to the client.

**To Reproduce**
Add multiple Set-Cookie headers with different payload to a route.

_route:_ `/login`
_response type:_ `200 - OK`
_headers:_
```
Content-Type: application/json
Set-Cookie:   sessionId={{guid}}; Max-Age=3600; Domain=localhost
Set-Cookie:   sessionToken={{guid}}
```
_body:_
`{"access_token":"{{guid}}","scope":"","token_type":"bearer","expires_in":299}`

The generated response contains only the _sessionToken_ Set-Cookie and misses the _sessionId_ Set-Cookie.
```
HTTP/1.1 200
Content-Type: application/json; charset=utf-8
Content-Encoding: UTF-8
Set-Cookie: sessionToken=81422eaf-df31-43ef-bc27-6387355bbcdf
Content-Length: 105
Date: Tue, 14 Jul 2020 08:35:17 GMT
Connection: keep-alive
{"access_token":"3e778677-aa2d-45be-aaec-84cc752a105d","scope":"","token_type":"bearer","expires_in":299}
```

**Expected behavior**
The response should contain all Set-Cookie headers.

**Screenshots**
N/A

**Mockoon version:**
1.1.8

**OS / OS version:**
Windows 10


This is not only the case for the "Set-Cookie" header but for all headers.
Even if [RFC-2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2) says:
> Multiple message-header fields with the same field-name MAY be present in a message if and only if the entire field-value for that header field is defined as a comma-separated list [i.e., #(values)].

there a still many servers and clients which do not send them as a list but as single key-value pairs.

"Set-Cookie" even has a special treatment. See [RFC-7230](https://tools.ietf.org/html/rfc7230#section-3.2.2):
> Note: In practice, the "Set-Cookie" header field ([RFC6265]) often
      appears multiple times in a response message and does not use the
      list syntax, violating the above requirements on multiple header
      fields with the same name.  Since it cannot be combined into a
      single field-value, recipients ought to handle "Set-Cookie" as a
      special case while processing header fields.  (See Appendix A.2.3
      of [Kri2001] for details.)

Please consider supporting multiple same-key headers.

Should we support this for all keys or just `Set-Cookie` (or some defined set of similar headers)?

@sleepypikachu I/we need to investigate how Express/Node.js handle headers. I think only "Set-Cookie" can be an array, other would need to be sent as semicolon separated list. 