Support WebDAV's HTTP Methods for Distributed Authoring

It would be great to support WebDAV's HTTP methods for distributed authoring as specified in the [RFC2518 Section 8](https://www.ietf.org/rfc/rfc2518.html#section-8).

The following methods are missing to get support WebDAV:
- `PROPFIND`
- `PROPPATCH`
- `MKCOL`
- `COPY`
- `MOVE`
- `LOCK`
- `UNLOCK`

Currently, the only way to mock a WebDAV endpoints is to use the `Logs` tab of Mockoon and add it to the requests, or by changing the `JSON` manually. However, due to the schema validation the changes in the environment file will be reverted after closing Mockoon.

You can assign me to the issue if you accept the feature request.  I've already implemented the changes locally and can create a pull request.

Sure, I assigned it to you. 
Is it only a change to the supported methods? 
Also, it's true that we only support a subset of what is actually supported by Node.js: 

```javascript
[
  'ACL',         'BIND',       'CHECKOUT',
  'CONNECT',     'COPY',       'DELETE',
  'GET',         'HEAD',       'LINK',
  'LOCK',        'M-SEARCH',   'MERGE',
  'MKACTIVITY',  'MKCALENDAR', 'MKCOL',
  'MOVE',        'NOTIFY',     'OPTIONS',
  'PATCH',       'POST',       'PROPFIND',
  'PROPPATCH',   'PURGE',      'PUT',
  'REBIND',      'REPORT',     'SEARCH',
  'SOURCE',      'SUBSCRIBE',  'TRACE',
  'UNBIND',      'UNLINK',     'UNLOCK',
  'UNSUBSCRIBE'
]
```

I think you could add more methods like CHECKOUT, SUBSCRIBE, UNSUBSCRIBE, etc. which are apparently also part of WebDAV (maybe not in the RFC, but I always saw Mockoon as a very flexible tool, not necessarily following RFCs). 

On detail, I am currently working on the CRUD endpoint type, and I would like to categorize the methods in the dropdown: 
![image](https://user-images.githubusercontent.com/7489814/215997410-77348c73-b0c1-46c3-9aef-39d301626c21.png)
It's nothing complicated, you can just add a dropdown item with the `category` flag at true. 
But now I realize that it could be a lot of methods (if I also add the missing HTTP ones, like CONNECT, PURGE, SEARCH) and maybe a searchable dropdown would be better like for the statuses. 

What I suggest is that you add all the WebDAV methods in a category (not necessarily limited to the RFC ones) and I will switch to a searchable dropdown during my work on the CRUD endpoint (I still have a long way to go). 

What do you think?


> Is it only a change to the supported methods?

Yes, it is. For my usages the methods are sufficient. So I had just to add them in the `@mockoon/commons` lib and gave them a style.

> What do you think?

Sounds good especially the searchable dropdown.
I've already put the `category` flag to all dropdown items I added.

Shall we implement really all methods? I've found a nice summary of seemly all WebDAV relevant methods in a similar issue in the [OpenAPI-Specification repo](https://github.com/OAI/OpenAPI-Specification/issues/1747#issue-379274309).

Just don't know about the colouring. Currently, I use the same gray for every WebDAV method I've added. I think if we add all the other methods they should also get the same less conspicuous coloring. So we would show that these methods are not as common as the others. Also we would prevent using too many colours.
![image](https://user-images.githubusercontent.com/8694700/216010937-2f40f621-c40c-460f-8585-3c9664f0fefa.png)

What do you think?


> But the category was already added and has only a contrast of 2.77. I don't know if we need to increase it.

I think that's good for now. 
Thank you for the changes!